name: Build
on:
  push:

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version-file: './src/go.mod'
      - name: Build all commands
        run: |
          cd src
          mkdir bin
          find ./cmd/* -type d | xargs -I '{}' go build -o ./bin/{} {}/main.go
          echo "Commands built:"
          ls -la ./bin/cmd/
          rm -rf bin
